div#footer
{
  display: block;
  width: 100%;
  height: 48px;
  color: #009641;
  background-color: #004920;
}
div#footer-license
{
  display: block;
  width: 100%;
  height: 48px;
  color: #009641;
  background-color: #003818;
}
