div#header
{
  display: block;
  width: 100%;
  height: 48px;
  color: #888888;
  background-color: #034961;
}

div#header-home
{
  display: inline-block;
  width: 192px;
  height: 48px;
  color: #888888;
  background-color: #023140;
}

div#header-home-logo
{
  display: inline-block;
  width: 48px;
  height: 48px;
  color: #888888;
  background-color: #012531;
}

div#header-home-title
{
  display: inline-block;
  width: 144px;
  height: 48px;
  color: #888888;
  background-color: #023140;
  float: right;
  line-height: 48px;
}
