#header
{
  display: block;
  width: 100%;
  height: 48px;
  color: blue;
  background-color: blue;
}
#header-home
{
  display: inline-block;
  width: 192px;
  height: 48px;
  color: green;
  background-color: green;
}
#header-home-logo
{
  display: inline-block;
  width: 48px;
  height: 48px;
  color: red;
  background-color: red;
}
#header-home-title
{
  display: inline-block;
  width: 144px;
  height: 48px;
  color: red;
  background-color: red;
}
