div#header
{
  display: block;
  width: 100%;
  height: 48px;
  color: black;
  background-color: blue;
}

div#header-home
{
  display: inline-block;
  width: 192px;
  height: 48px;
  color: black;
  background-color: green;
}

div#header-home-logo
{
  display: inline-block;
  width: 48px;
  height: 48px;
  color: black;
  background-color: red;
}

div#header-home-title
{
  display: inline-block;
  width: 144px;
  height: 48px;
  color: black;
  background-color: orange;
  float: right;
  line-height: 48px;
}
